<form asp-action="PostComment" asp-area="Admin" asp-controller="Post" method="post">

    <img class="img-responsive img-circle img-sm" src="../../dist/img/user1-128x128.jpg" alt="User profile picture">

    <!-- .img-push is used to add margin to elements next to floating images -->
    <div class="img-push">
        <div class="row">
            <div class="col-md-10">
                <input type="text" class="form-control input-sm"  placeholder="Press enter to post comment">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Comment</button>
            </div>
        </div>

        @*<input type="text" id="@string.Format("{0}_{1}", "comment", @item.PostId)" class="" asp-for="@item.PostId" data-id="@item.PostId"/>*@
    </div>
</form>