<footer>
    <section class="footer py-md-5">
        <div class="container py-4 mt-2">
            <div class="row footer_inner_info_w3ls_agileits">
                <div class="col-md-3 footer-left">
                    <h2><a href="index.html"> Apostel Cargo</a></h2>
                    <p class="mb-3 mt-3">We deliver your cargo, whenever you need it and wherever you need it.</p>
                    <ul class="social-nav footer-social social two">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-2 sign-gd">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li><a asp-action="About" asp-controller="Home">About</a></li>
                        <li><a asp-action="Services" asp-controller="Home">Services</a></li>
                        <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 sign-gd flickr-post">
                    <h4>Instagram</span></h4>
                    <ul>
                        <li><a href="#"><img src="~/images/g1.jpg" alt=" " class="img-fluid" /></a></li>
                        <li><a href="#"><img src="~/images/g2.jpg" alt=" " class="img-fluid" /></a></li>
                        <li><a href="#"><img src="~/images/g3.jpg" alt=" " class="img-fluid" /></a></li>
                        <li><a href="#"><img src="~/images/g2.jpg" alt=" " class="img-fluid" /></a></li>
                        <li><a href="#"><img src="~/images/g1.jpg" alt=" " class="img-fluid" /></a></li>
                        <li><a href="#"><img src="~/images/g3.jpg" alt=" " class="img-fluid" /></a></li>
                        <li><a href="#"><img src="~/images/g2.jpg" alt=" " class="img-fluid" /></a></li>
                        <li><a href="#"><img src="~/images/g3.jpg" alt=" " class="img-fluid" /></a></li>
                        <li><a href="#"><img src="~/images/g1.jpg" alt=" " class="img-fluid" /></a></li>
                    </ul>
                </div>
                <div class="col-md-3 sign-gd-two">
                    <h4>Contact Information</h4>
                    <div class="address">
                        <div class="address-grid">
                            <div class="address-left">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="address-right">
                                <h6>Phone Number</h6>
                                <p>+49-176-740-187-68</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="address-grid">
                            <div class="address-left">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="address-right">
                                <h6>Email Address</h6>
                                <p>Email :<a href="mailto:aposteljoe@yahoo.com"> aposteljoel@yahoo.com</a></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="address-grid">
                            <div class="address-left">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="address-right">
                                <h6>Location</h6>
                                <p>
                                    Josef-Orlopp-Straße 79-83, 10365
                                    Berlin-Germany
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p class="copy-right py-3">&copy @DateTime.Now.ToString("Y") Apostel Cargo. All rights reserved | Design by <a asp-area="Customer" asp-action="Index" asp-controller="Home">Dubesoft Corporation</a></p>
    <!-- //footer -->
</footer>