
@{
    ViewData["Title"] = "Contact";
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Shipping a Transportation Category Flat Bootstrap Responsive Website Template | Contact :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Shipping Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>

		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <!-- //for-mobile-apps -->
    <link href="~/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">

</head>

<body>
    <!-- header -->
    <partial name="_Header" />
    <!-- //header -->
    <section class="banner-1">
    </section>
    <!-- contact -->
    <div class="w3ls-section banner-single py-md-5">
        <div class="container py-4 mt-2">
            <h3 class="tittle-w3ls text-center mb-3">Contact Us</h3>
            <p class="tit text-center mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel ab, nesciunt quod!</p>
            <div class="row about-inner-main pt-4 mt-md-4">
                <div class="col-md-6 contact-left">
                    <div class="agile-contact-top">
                        <h4>Head Office Address </h4>
                        <p>Josef-Orlopp-Straße 79-83 10365 Berlin, Germany</p>
                    </div>
                    <div class="contact-bottom">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d439767.4451944881!2d13.228709172676098!3d52.49009153249615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373f035901%3A0x42120465b5e3b70!2sBerlin%2C%20Germany!5e0!3m2!1sen!2sng!4v1593775462409!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-md-6 contact-left">
                    <div class="agile-contact-top">
                        <h4>address </h4>
                        <p>49A Odolowu warehouse Along Apapa-Oshodi </p>
                        <p>Express way Odolowu Bustop, Lagos</p>
                    </div>
                    <div class="contact-bottom">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253682.6326921272!2d3.1438696994062663!3d6.548035697306226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8b2ae68280c1%3A0xdc9e87a367c3d9cb!2sLagos!5e0!3m2!1sen!2sng!4v1593775793494!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>

            </div>
            <div class="row about-inner-main pt-4 mt-md-4">
                <div class="col-md-6 contact-left">
                    <div class="agile-contact-top">
                        <h4>address </h4>
                        <p>Fashion Point Salon Saarlandstr. 15367061 Ludwigshafen</p>
                        <p>Tel: 0152-143 69 8666</p>
                    </div>
                    <div class="contact-bottom">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2592.8051382112767!2d8.434149015203655!3d49.46929647935209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4797cc76c36af8f9%3A0x864dca235fc60e2c!2sSaarlandstra%C3%9Fe%2C%20Ludwigshafen%20am%20Rhein%2C%20Germany!5e0!3m2!1sen!2sng!4v1593776271412!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-md-6 contact-left">
                    <div class="agile-contact-top">
                        <h4>address </h4>
                        <p>Tawa Shop Kornstr. 1228201 Bremen</p>
                        <p>Tel: 0152 - 101 60 261</p>
                    </div>
                    <div class="contact-bottom">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2397.8719404907793!2d8.807219115372193!3d53.0586083799197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b0d7fb493d27fb%3A0x52cfdbfccdbc833c!2sKornstra%C3%9Fe%2C%20Bremen%2C%20Germany!5e0!3m2!1sen!2sng!4v1593776490383!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>

            </div>
            <div class="row about-inner-main pt-4 mt-md-4">
                <div class="col-md-6 contact-left">
                    <div class="agile-contact-top">
                        <h4>address </h4>
                        <p>Kelvin Chike Uche Ahornweg 1632457 Porta Westfalica</p>

                    </div>
                    <div class="contact-bottom">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78205.49744442053!2d8.882363660727515!3d52.22663862270574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ba7175d6800959%3A0xb371c5be897c06f!2s32457%20Porta%20Westfalica%2C%20Germany!5e0!3m2!1sen!2sng!4v1593776689360!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-md-6 contact-left">
                    <div class="agile-contact-top">
                        <h4>address </h4>
                        <p>Chika's - Afikanisches Restaurant Fuhlsbüttler Str. 14222305 Hamburg</p>
                        <p>Tel: 0152 - 902 402 34</p>
                    </div>
                    <div class="contact-bottom">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d303356.5784700325!2d9.6476376217658!3d53.558244636685295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b161837e1813b9%3A0x4263df27bd63aa0!2sHamburg%2C%20Germany!5e0!3m2!1sen!2sng!4v1593776948463!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>

            </div>
            <div class="row about-inner-main pt-4 mt-md-4">
                <div class="col-md-6 contact-left">
                    <div class="agile-contact-top">
                        <h4>address </h4>
                        <p>Inno Afro Shop Pferdemarkt 245127 Essen</p>
                        <p>Tel: 0152 - 129 24 541</p>
                    </div>
                    <div class="contact-bottom">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d159164.41087221328!2d6.875933829103671!3d51.440823780636734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8c2b796abf639%3A0x6a00e111a4ad2c9d!2sEssen%2C%20Germany!5e0!3m2!1sen!2sng!4v1593777098873!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-md-6 w3layouts-reg-form contact-form-row-agileinfo">
                    <h4 class="form-con-txt">send us a mail</h4>
                    <form action="#" method="post" class="banner_form contact-inner-form">
                        <div class="contact-form-left contact-field1">
                            <div class="sec-left">
                                <label class="contact-form-text">Name</label>
                                <input placeholder="your name " name="first name" type="text" required="">
                            </div>
                            <div class="sec-right">
                                <label class="contact-form-text">Email</label>
                                <input placeholder="xxx@xx.com " name="first name" type="email" required="">
                            </div>
                        </div>
                        <div class="contact-form-right contact-field2">
                            <input type="submit" value="send message">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-tx contact-field3">
                            <label class="contact-form-text">Address</label>
                            <textarea placeholder="your address" required=""></textarea>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- contact -->
    <!-- distance -->
    <section class="distance-w3 py-md-5">
        <div class="container py-4 mt-2">
            <div class="row">
                <div class="col-md-8 distance-agile-left">
                    <h4 class="mt-2">The Safest Distance Between Two Points.</h4>
                </div>
                <div class="col-md-4 distance-agile-right">
                    <a href="contact.html">call us 5-367-123-4567</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //distance -->
    <!-- footer -->
    <partial name="_Footer" />
    <!-- js -->
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <!-- //js-->
    <!-- start-smooth-scrolling -->
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script>

		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>

		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
    </script>
    <script src="~/js/SmoothScroll.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/bootstrap.js"></script>
</body>

</html>