@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Apostel Cargo | Home </title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Shipping Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>

        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="~/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!--banner slider  -->
    <link href="~/css/JiSlider.css" rel="stylesheet">
    <!-- //banner-slider -->
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" property="" />
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link rel="icon" href="~/images/logo2.png" type="image/x-icon" />
</head>

<body>
    <!-- header -->
    <partial name="_Header" />
    <!-- //header -->
    <!-- banner -->
    <section class="banner-silder">
        <div id="JiSlider" class="jislider">
            <ul>
                <li>
                    <div class="banner-top banner-top1">
                        <div class="container">
                            <div class="banner-info info2">
                                <h3>Start Moving</h3>
                                <p>We deliver your cargo, whenever you need it and wherever you need it.</p>
                            </div>
                        </div>
                    </div>
                </li>


                <li>
                    <div class="banner-top banner-top2">
                        <div class="container">
                            <div class="banner-info bg3 info2">
                                <h3>Start Moving</h3>
                                <p>We get the job done, on time and at a reasonable cost.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-top banner-top3">
                        <div class="container">
                            <div class="banner-info bg3">
                                <h3>Start Moving</h3>
                                <p>We deliver our promise, See us for a great moving experience.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- //banner -->
    <!-- banner bottom -->
    <section class="banner-btm">
        <div class="container">
            <div class="row banner-bottom-main">

                <div class="col-md-4 banner-grid2">
                    <div class="banner-subg1">
                        <span class="fa fa-ship" aria-hidden="true"></span>
                        <h3 class="mt-3">Shipping & Clearing</h3>
                        <p class="mt-3 mb-3">
                        We convey your goods from Germany to Nigeria in good condition and time effectively. All tax and custom duties are handled by the company so you don't have to bother about that.</p>

                        <div class="read-btn">
                            <a href="#">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 banner-grid2">
                    <div class="banner-subg1">
                        <span class="fa fa-truck" aria-hidden="true"></span>
                        <h3 class="mt-3">Container Group Shipment</h3>
                        <p class="mt-3 mb-3">We package your good in our company boxes and make your they are well placed in the container to be moved to Nigeria.</p>

                        <div class="read-btn">
                            <a href="#">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 banner-grid2">
                    <div class="banner-subg1">
                        <span class="fa fa-object-group" aria-hidden="true"></span>
                        <h3 class="mt-3">Quality Packaging</h3>
                        <p class="mt-3 mb-3">We have groups of professional who carefully palce items into the company boxes considering some item may be fragile and ready to be moved into the container.</p>

                        <div class="read-btn">
                            <a href="#">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner bottom -->
    <section class="banner_bottom">
        <div class="container mt-2">
            <div class="inner_sec_info_wthree_agile py-5">
                <div class="row help_full py-sm-4">

                    <div class="col-md-6 pt-lg-5 mt-lg-5 banner_bottom_left">
                        <h4>What we do at Apostel Cargo!</h4>
                        <p class="mb-3">
                            We at Apostel Cargo provides a broader logistics/supply chain service. We assemble the resources, capabilities
                            and technologies within our organization and other organization to design, build up and run more 
                            comprehensive and supply chains.
                        </p>
                        <p class="mb-3">
                            As a business we are always looking forward to improve the way we work and the value we deliver. To help us do that 
                            we have defined our vision, mission and value - Our group manangement phoilosophy that guide everyone work at Apostel Cargo
                            across the world.
                        </p>
                        <div class="ab_button">
                            <a class="btn btn-primary btn-lg hvr-underline-from-left" href="#" role="button" data-toggle="modal" data-target="#myModal">Read More </a>
                        </div>
                    </div>

                    <div class="col-md-6 banner_bottom_grid help">
                        <img src="images/2.png" alt=" " class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonials -->
    <section class="testimonials py-md-5">
        <div class="container py-4 mt-2">
            <h3 class="tittle-w3ls text-center mb-3 text-white">Customer Says</h3>
            <p class="tit text-center mx-auto text-white">Here are what some of our customers have to say about us.</p>
            <div class="w3_agileits_testimonial_grids pt-4 mt-md-4">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="w3_agileits_testimonial_grid">
                                    <div class="test-bg-w3ls">
                                        <h4>James Festus <span>Mercahnt</span></h4>
                                        <p>
                                            Apostel Cargo have delivered in all aspect of their promises. Never had any issue of any kind in using their services. I recommend them for any looking for fast and reliable means of moving their goods.
                                        </p>
                                    </div>
                                    <img src="images/ts1.jpg" alt=" " class="img-responsive" />

                                </div>
                            </li>
                            <li>
                                <div class="w3_agileits_testimonial_grid">
                                    <div class="test-bg-w3ls">
                                        <h4>Branson Gold <span>Fashion Designer</span></h4>
                                        <p>
                                            Patonizing the services of Apostel Cargo in moving my goods have been seamless and swift. All my goods have always been delivered in good condition. I recommend Apostel to anyone interested in moving their goods from Germany to Nigeria.
                                        </p>
                                    </div>
                                    <img src="images/ts2.jpg" alt=" " class="img-responsive" />
                                </div>
                            </li>
                            <li>
                                <div class="w3_agileits_testimonial_grid">
                                    <div class="test-bg-w3ls">
                                        <h4>Andrew John <span>Business man</span></h4>
                                        <p>
                                           With the services of Apostel Cargo we have been able tomeet our customers demands and satisfaction. Apostel Caargo is the way to go.
                                        </p>
                                    </div>
                                    <img src="images/ts3.jpg" alt=" " class="img-responsive" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- //testimonials -->
    <!-- smooth-shipping -->
    <section class="wthree-row w3-about py-md-5">
        <div class="container py-4 mt-2">
            <h3 class="tittle-w3ls text-center mb-3">Smooth Shipping and Freight</h3>
            <p class="tit text-center mx-auto">We are committed to swiftly transporting your goods from Germany to Nigeria in good working condition.</p>
            <div class="card-deck pt-4 mt-md-4">
                <div class="card">
                    <img src="images/g1.jpg" class="img-fluid" alt="Card image cap">
                    <div class="card-body w3ls-card">
                        <h5 class="card-title text-center">Groupage Service from anywhere in Germany to Nigeria</h5>
                        <p class="card-text mb-3 ">
                            We have groups of professional who carefully palce items into the company boxes considering some item may be fragile and ready to be moved into the container.
                        </p>
                        <div class="ab_button">

                            <a class="btn btn-primary btn-lg hvr-underline-from-left" href="#" role="button" data-toggle="modal" data-target="#myModal">Read More </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="images/g2.jpg" class="img-fluid" alt="Card image cap">
                    <div class="card-body w3ls-card">
                        <h5 class="card-title text-center">Door to Door Cargo Service from anywhere in Germany to Nigeria</h5>
                        <p class="card-text mb-3 ">
                            We convey your goods from anywhere Germany to Nigeria and deliver right to your doorstep in good condition and time effectively. 
                        </p>
                        <div class="ab_button">
                            <a class="btn btn-primary btn-lg hvr-underline-from-left" href="#" role="button" data-toggle="modal" data-target="#myModal">Read More </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="images/g3.jpg" class="img-fluid" alt="Card image cap">
                    <div class="card-body w3ls-card">
                        <h5 class="card-title text-center">Quality Packaging</h5>
                        <p class="card-text mb-3 ">
                            We package your good in our company boxes and make your they are well place in the container to be moved to Nigeria.
                        </p>
                        <div class="ab_button">
                            <a class="btn btn-primary btn-lg hvr-underline-from-left" href="#" role="button" data-toggle="modal" data-target="#myModal">Read More </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //smooth-shipping -->
    <!-- distance -->
    <section class="distance-w3 py-md-5">
        <div class="container py-4 mt-2">
            <div class="row">
                <div class="col-md-8 distance-agile-left">
                    <h4 class="mt-2">Swiftly and safe delivery of your Goods.</h4>
                </div>
                <div class="col-md-4 distance-agile-right">
                    <a href="contact.html">call us GER 49-176-740-187-68</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //distance -->
    <!-- stats -->
    
    <!-- //stats -->
    <!-- footer -->
    <partial name="_Footer" />
    <!-- Modal -->
    
    <!-- //Modal -->
    <!-- js -->
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <!-- //js-->
    <!--banner-slider-->
    <script src="~/js/JiSlider.js"></script>
    <script>

		$(window).load(function () {
			$('#JiSlider').JiSlider({
				color: '#fff',
				start: 1,
				reverse: false
			}).addClass('ff')
		})
    </script>
    <!-- //banner-slider -->
    <!-- flexSlider -->
    <script defer src="~/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
    </script>
    <!-- //flexSlider -->
    <!-- start-smooth-scrolling -->
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script>

		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- stats -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.countup.js"></script>
    <script>
			$('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- smooth-scrolling-of-move-up -->
    <script>

		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
    </script>
    <script src="~/js/SmoothScroll.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/bootstrap.js"></script>
</body>

</html>